@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', 'sans-serif';
    width: 600px;
    margin: 0 auto;
    background: #eee;
}

p {
    margin: 4px;
}

header {
    text-align: center;
}

.container {
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 20px;
    box-shadow: 4px 5px 3px 1px #ccc;
    background: #fff;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color: #bbb;
    font-size: 14px;

    /* left: 0;
    right: 0;
    bottom: 20px; */
}

footer .social a {
    color: #888;
}

.listname {
    display: flex;
    height: 30px;
    color: #111;
    margin-left: 14px;
    padding-left: 4px;
    margin-bottom: 14px;
}

.listname h2 {
    margin: 0;
}

.listname span {
    color: #aaa;
    margin-left: 4px;
    vertical-align: center;
    cursor: pointer;
    display: none;
}

.newtask,
.task {
    display: flex;
}

.task {
    padding: 6px 0 4px 0;
    border-bottom: 1px solid #ddd;
    min-height: 24px;
}

#newtasktext {
    padding-left: 4px;
    margin: 0 4px;
    width: 100%;
    border: 1px solid #ddd;
    height: 20px;
}

.newtask button {
    background-color: #fff;
    border: 0;
    color: #555;
    cursor: pointer;
}

.material-icons {
    vertical-align: middle;
}

.material-icons.md-22 {
    font-size: 20px;
}

.material-icons.md-20 {
    font-size: 20px;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

.check {
    margin-right: 4px;
}

.drag {
    cursor: grab;
    color: #aaa;
}

.drag:hover {
    color: #000;
}

.color {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: red;
    cursor: pointer;
}

.task-text {
    cursor: pointer;
}